.card_container {
    width: 920px;
    margin: 50px auto 0;
    display: flex;
    flex-wrap: wrap;

    &:last-child {
        margin-bottom: 70px;
    }

    h2.title_section {
        width: 100%;
        text-align: center;
        letter-spacing: 0.5px;
        padding: 20px 0 40px;
        color: $redPrimary;
        text-transform: uppercase;
        text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
        font-size: 35px;
    }
}